*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(30, 25, 61);
}
/*------------ navegador -------------*/
nav{
    display: inline-flex;
    background-color: rgb(95, 91, 116);
    width: 100%;
    border-bottom: 1px solid rgb(87, 159, 184);
}
.imagen{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
nav ul{
    margin-top: 40px;
}
nav ul li{
    display: inline;
    margin-left: 30px;
    padding-right: 30px; 
    color: white;
    font-size: 1.4em;   
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(87, 159, 184);
    font-size: 1.5em;
}
nav ul li a.active{
    color: cornflowerblue;
}
.logo{
    margin: 10px 40px;
    width: 7%;
}
.botones{
    width: 30%;
    padding-top: 30px;
}
.btn{
    padding: 15px 30px;
    margin-left: 20px;
    background-color: rgb(142, 219, 65);
    border-radius: 5px;
    border: none;
}
.btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.btn a:hover{
    font-size: 1.2em;
}

/*------------------ container ---------------*/
.container{
    background-color: rgb(243, 242, 250);
    padding-top: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.contenido{
    color: rgb(21, 29, 44);
    width: 70%;
    
}
.reto{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    padding-top: 50px;
    padding-left: 60px;
}
.reto img{
    width: 60%;
    margin-left: 40px;
}
.contenido .reto h3{
    text-align: start;
    font-size: 2.8em;
    margin: 60px 70px;
    color: rgb(21, 29, 44);
}

.contenido h2{
    font-size: 3.6em;
    text-align: center;
    color: rgb(21, 29, 44);
    padding-top: 60px;
}
.contenido h3{
    font-size: 2em;
    text-align: center;
    color: rgb(21, 29, 44);
    margin-top: 80px;
    margin-bottom: 10px;
}

/*------------ formulario ------------*/

form{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.formulario h1{
    font-size: 3em;
    padding: 20px 60px 0px 80px;
    text-align: center;
    color: white;
}
.formulario p{
    color: white;
    font-size: 1.1em;
    margin-top: 20px;
    padding-left: 20px;
}
#skills{
    vertical-align: top;
    height: auto;
    margin-left: 10px;
    border-radius: 5px;
}
#skills option{
    padding: 5px;
}
fieldset{
    width: 60%;
    padding: 60px;
    border-radius: 10px;
    border: 1px solid rgb(87, 159, 184);
    background-color: rgb(30, 30, 46);
    justify-content: end;
}
fieldset.personal h1{
    font-size: 1.8em;
    margin-bottom: 20px;
}
fieldset.profesional h1{
    font-size: 1.8em;
    margin-bottom: 20px;
}
.agrupar-btn-enviar{
    display: flex;
    justify-content: center;
}
select{
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(87, 159, 184);
    width: 100%;
    background-color: rgb(244, 246, 246);
    height: 40px;
    line-height: 40px;
}
.form_input{
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(87, 159, 184);
    width: 100%;
    background-color: rgb(244, 246, 246);
    height: 20px;
    line-height: 20px;
}
.agrupar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.agrupar-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_btn{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 40px;
    background-color: rgb(142, 219, 65);
    border-radius: 5px;
    border: none;
    color: white;
}

textarea{
    border-radius: 5px;
    border: 1px solid rgb(87, 159, 184);
    width: 100%;
    background-color: rgb(244, 246, 246);
    margin-left: 10px;
}

.datos{
    border-radius: 5px;
    margin: 10px 0px;
    width: 100%;
    padding-bottom: 10px;
}
label{
    display: block;
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

/*-------------- footer -------------*/
footer{
    background-color: rgb(95, 91, 116);
    display: flex;
}
.footer_info{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
.footer_info img{
    width: 3%;
    padding: 10px;  
}
.footer_info p{
    color: white;
    font-size: 1em;
    margin-top: 20px;
}
.footer_info ul li{
    display: inline-flex;
    padding-top: 20px;
}
.footer_info ul li a{
    color: white;
    text-decoration: none;
}
.footer_info ul li a:hover{
    text-decoration: underline;
}
.footer_info ul li:first-child{
    margin-right: 50px;
}
