<template id="header_template">
    <nav>
        <div class="imagen">
            <img class="logo" src="images/browser.png" alt="imagen logo empresa">
            <ul>
                <li><a href="index.html" class="active">Developers</a></li>
                <li><a href="perfil.html">Visita tu perfil</a></li>
            </ul>
        </div>
        <div class="botones">
            <button class="btn"><a href="#">Entrar</a></button>
            <button class="btn"><a href="#">Registrar</a></button>
        </div>    
    </nav>
</template>