<template id="footer_template">
    <footer>
        <div class="footer_info"> 
            <img class="empresa_img" src="images/browser.png" alt="imagen logo empresa">
            <p>Únete a miles de developers y disfruta programando</p>    
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <p>Copyright<span> @ </span>2022 - Mònica Garcia Casanovas</p>      
        </div>
    </footer> 
</template>